bin/
build/
dist/
wheelhouse/
__pycache__/
*.so 
*.pyc
*.egg-info

src/tcinter/dialog.py
src/tcinter/filedialog.py
src/tcinter/messagebox.py
src/tcinter/scrolledtext.py
src/tcinter/test/
src/tcinter/tix.py
src/tcinter/ttk.py
src/tcinter/colorchooser.py
src/tcinter/commondialog.py
src/tcinter/dnd.py
src/tcinter/simpledialog.py
